/node_modules
/public
/engine-private
/conf
/tmp
/bkt
/logs
/build
/coverage
/.env
/prometheus_data
/deployments
/grafana_data
/images
/src/client/public/cyberia
/src/client/public/doc/.gitignore/engine
.cache
.nyc_output
*.tar
*.metals
*scala-build
_
_.js
