{
    "all": false,
    "exclude": [],
    "include": [
        "test"
    ],
    "output": "reports",
    "reporter": [
        "html",
        "text",
        "text-lcov",
        "cobertura"
    ]
}