---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dd-lampp-development-blue
  namespace: default
  labels:
    app: dd-lampp-development-blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dd-lampp-development-blue
  template:
    metadata:
      labels:
        app: dd-lampp-development-blue
    spec:
      containers:
        - name: dd-lampp-development-blue
          image: localhost/rockylinux9-underpost:v3.0.0

          command:
            - /bin/sh
            - -c
            - >
              npm install -g npm@11.2.0 && npm install -g underpost && underpost secret underpost --create-from-file /etc/config/.env.development && underpost start --build --run --underpost-quickly-install dd-lampp development

    
          volumeMounts:
            - name: config-volume-dd-lampp-development-blue
              mountPath: /etc/config
    
      volumes:
        - name: config-volume-dd-lampp-development-blue
          configMap:
            name: underpost-config
    
      
---
apiVersion: v1
kind: Service
metadata:
  name: dd-lampp-development-blue-service
  namespace: default
spec:
  selector:
    app: dd-lampp-development-blue
  ports:
    - name: 'tcp-4001'
      protocol: TCP
      port: 4001
      targetPort: 4001
    - name: 'udp-4001'
      protocol: UDP
      port: 4001
      targetPort: 4001

    - name: 'tcp-4002'
      protocol: TCP
      port: 4002
      targetPort: 4002
    - name: 'udp-4002'
      protocol: UDP
      port: 4002
      targetPort: 4002

    - name: 'tcp-4003'
      protocol: TCP
      port: 4003
      targetPort: 4003
    - name: 'udp-4003'
      protocol: UDP
      port: 4003
      targetPort: 4003

    - name: 'tcp-4004'
      protocol: TCP
      port: 4004
      targetPort: 4004
    - name: 'udp-4004'
      protocol: UDP
      port: 4004
      targetPort: 4004
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dd-lampp-development-green
  namespace: default
  labels:
    app: dd-lampp-development-green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dd-lampp-development-green
  template:
    metadata:
      labels:
        app: dd-lampp-development-green
    spec:
      containers:
        - name: dd-lampp-development-green
          image: localhost/rockylinux9-underpost:v3.0.0

          command:
            - /bin/sh
            - -c
            - >
              npm install -g npm@11.2.0 && npm install -g underpost && underpost secret underpost --create-from-file /etc/config/.env.development && underpost start --build --run --underpost-quickly-install dd-lampp development

    
          volumeMounts:
            - name: config-volume-dd-lampp-development-green
              mountPath: /etc/config
    
      volumes:
        - name: config-volume-dd-lampp-development-green
          configMap:
            name: underpost-config
    
      
---
apiVersion: v1
kind: Service
metadata:
  name: dd-lampp-development-green-service
  namespace: default
spec:
  selector:
    app: dd-lampp-development-green
  ports:
    - name: 'tcp-4001'
      protocol: TCP
      port: 4001
      targetPort: 4001
    - name: 'udp-4001'
      protocol: UDP
      port: 4001
      targetPort: 4001

    - name: 'tcp-4002'
      protocol: TCP
      port: 4002
      targetPort: 4002
    - name: 'udp-4002'
      protocol: UDP
      port: 4002
      targetPort: 4002

    - name: 'tcp-4003'
      protocol: TCP
      port: 4003
      targetPort: 4003
    - name: 'udp-4003'
      protocol: UDP
      port: 4003
      targetPort: 4003

    - name: 'tcp-4004'
      protocol: TCP
      port: 4004
      targetPort: 4004
    - name: 'udp-4004'
      protocol: UDP
      port: 4004
      targetPort: 4004
  type: LoadBalancer
