name: Docker Image CI
on:
  workflow_run:
    workflows: ['Update github repo package']
    types:
      - completed
jobs:
  build:
    # if: github.repository == 'underpostnet/engine' && startsWith(github.event.head_commit.message, 'ci(docker-image-engine)')
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    container:
      image: rockylinux/rockylinux:9
    steps:
      - uses: actions/checkout@v3

      - name: Install docker
        run: |
          dnf install -y sudo
          sudo dnf -y install dnf-plugins-core
          sudo dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
          sudo dnf -y install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag underpost-engine:$(date +%s)

      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/underpost-engine:v2.8.837
