name: CI | Dockerhub
on:
  workflow_run:
    workflows: ['CI | Publish npm repository package']
    types:
      - completed

  push:
    branches: ['master']

jobs:
  build:
    if: |
      github.repository == 'underpostnet/engine'
      && ((github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
      ||
      startsWith(github.event.head_commit.message, 'ci(docker-image)'))
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/underpost-engine:v2.95.3
