name: Engine cyberia Repo Builder
on:
  workflow_run:
    workflows: ['Update npm repo package']
    types:
      - completed
permissions:
  contents: write
  packages: write
  id-token: write
jobs:
  pwa-microservices-template:
    # if: github.repository == 'underpostnet/engine' && startsWith(github.event.head_commit.message, 'ci(engine-cyberia-repo-build)')
    name: Update github repo package Jobs
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      - name: Install dependencies
        run: |
          npm install -g underpost
          underpost install
          underpost config set GITHUB_TOKEN ${{ secrets.GIT_AUTH_TOKEN }}

      - name: Set git credentials
        run: |
          git config --global credential.helper ""
          git config credential.helper ""
          git config --global user.name 'underpostnet'
          git config --global user.email 'development@underpost.net'
          git config --global credential.interactive always
          git config user.name 'underpostnet'
          git config user.email 'development@underpost.net'
          git config credential.interactive always

      - name: Build repository
        run: |
          cd .. && underpost clone underpostnet/pwa-microservices-template
          underpost clone --bare underpostnet/engine-cyberia
          cd engine
          node bin/build dd-cyberia development
          cd ../pwa-microservices-template
          rm -rf ./.git
          mv ../engine-cyberia.git ./.git
          git init
          git add .
          underpost cmt . ci engine-cyberia-repo-build 'Update engine cyberia repository'
          underpost push . underpostnet/engine-cyberia
